*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background: lightblue;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(back.jpeg);
    background-position: center;
    background-size: cover;
    
}
.container_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
.chart {
    padding: 2rem;
    border: 2px solid darkgreen;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

